[submodule "roles/ansible-role-pycharm"]
	path = roles/ansible-role-pycharm
	url = https://github.com/Oefenweb/ansible-pycharm.git
[submodule "roles/ansible-role-phpstorm"]
	path = roles/ansible-role-phpstorm
	url = https://github.com/Oefenweb/ansible-phpstorm.git
[submodule "roles/ansible-role-chrome"]
	path = roles/ansible-role-chrome
	url = https://github.com/cmprescott/ansible-role-chrome.git
