---
# tasks file for ubuntu-install-apps
#- name: Install simple utils
#  become: true
#- name: Install main packeges
#  apt:
#    name: "{{ packages }}"
#    update_cahche: yes
#  vars:
#    packages:
#    - htop
#    - vim
#- name: Install messengers, email, etc
#  snap:
#    name:
#    - telegram-desktop
#    - thunderbird
#    - slack
#- name: Install media app
#  snap:
#    name: 
#    - vlc
- include_role:
    name: ansible-miniconda
  tags: [ 'python' ]
  vars:
    miniconda_environments:
      - name: prod
        python_version: 2.7
        pkgs: 'pip ipython' 
- include_role:
    name: ansible-role-gitkraken
- include_role:
    name: ansible-role-chrome
    apply:
     become: yes
     tags: chrome
- include_role:
    name: ansible-role-pycharm
    apply:
      become: yes
      tags: [ 'pycharm', 'python' ]
  vars:
    pycharm_version: '2018.3'
    pycharm_edition: 'community'
- include_role:
    name: ansible-role-phpstorm
    apply:
      become: yes
      tags: [ 'phpstorm', 'configuartion' ]
  vars:
    phpstorm_version: 2018.2
  tags: [ 'phpstorm', 'php' ]
