---
# tasks file for ubuntu-install-apps
- apt_repository:
    repo: ppa:atareao/telegram
- name: Install main packeges
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - htop
    - vim
    - telegram
- name: Upgrade all packages to the latest version
  apt:
    name: "*"
    state: latest
    force_apt_get: yes
- include_role:
    name: ansible-miniconda
  tags: [ 'python' ]
  vars:
    miniconda_environments:
      - name: prod
        python_version: 2.7
        pkgs: 'pip ipython' 
- include_role:
    name: ansible-role-gitkraken
- include_role:
    name: ansible-role-chrome
    apply:
     become: yes
     tags: chrome
- include_role:
    name: ansible-role-pycharm
    apply:
      become: yes
      tags: [ 'pycharm', 'python' ]
  vars:
    pycharm_version: '2018.3'
    pycharm_edition: 'community'
- include_role:
    name: ansible-role-phpstorm
    apply:
      become: yes
      tags: [ 'phpstorm', 'configuartion' ]
  vars:
    phpstorm_version: 2018.2
  tags: [ 'phpstorm', 'php' ]
